<div class="text-center bg-dark">
    <ul class="icons list-inline pt-3">
        <a href="https://www.twitter.com" title="Twitter" class="list-inline-item icon fa-twitter fa-lg mr-3"><li style="display:none">Twitter</li></a>
        <a href="https://www.github.com" title="GitHub" class="list-inline-item icon fa-github fa-lg mr-3 ml-3"><li style="display:none">GitHub</li></a>
        <a href="https://www.Dribble.com" title="Dribble" class="list-inline-item icon fa-dribbble fa-lg mr-3 ml-3"><li style="display:none">Dribble</li></a>
        <a href="https://www.plus.google.com" title="Google+" class="list-inline-item icon fa-google-plus fa-lg ml-3"><li style="display:none">Google+</li></a>
    </ul>
    <ul class="list-inline footer-text mb-3 pb-3">
        <li class="list-inline-item">FMASolutions Ltd. &copy;2018  All rights reserved.</li>
        <li class="list-inline-item">Design: <a href="#">FMASolutions</a></li>
    </ul>
</div>