@{
    ViewData["Title"] = "FMASolutions - Home Page";
    Layout = "~/Views/Shared/_LayoutFMASolutions.cshtml";
}
<div class="container white-background rounded mb-5">      
    <img src="~/SiteAssets/images/pic01.jpg" class="img-fluid rounded-top" />
    <div class="text-center">        
        <h1 class="mb-2 pt-5 pb-4 pl-5 pr-5">Introducing the ultimate end to end IT Solutions, with over 15 years experience.</h1>
        <hr class="ml-5 mr-5">
        <h5 class="mb-5 pl-5 pr-5 pt-4 pb-5 text-center">
            From small family run businesses to large corporations. We can tailor an IT solution to fit your 
            exact needs for you. Or, if you're just an I.T geek looking for bleeding-edge blogs and projects to read about then scroll down
        </h5>        
    </div>    
</div>
<div class="container white-background rounded mb-5">      
    <div class="row text-center pl-5 pr-5">
        <div class="col-sm-6 pl-3 pr-3 pt-4 pb-4">            
            <span class="icon major fa-bolt accent2 fa-5x"></span>
            <h3>Application Development</h3>
            <p>Bespoke application development tailored to your specific needs.</p>            
        </div>
        <div class="col-sm-6 pl-3 pr-3 pt-4 pb-4">        
            <span class="icon major fa-database accent3 fa-5x"></span>
            <h3>Databases</h3>
            <p>From database design and maintenance to B.I Reporting and management integration.</p>        
        </div>
    </div>
    <div class="row text-center pl-5 pr-5">
        <div class="col-sm-6 pl-3 pr-3 pt-4 pb-4">
            <span class="icon major fa-cloud accent4 fa-5x"></span>
            <h3>Web Development</h3>
            <p>Bespoke websites from simple single page sites to full e-commerce websites.</p>
        </div>
        <div class="col-sm-6 pl-3 pr-3 pt-4 pb-4">
            <span class="icon major fa-cog accent4 fa-5x"></span>
            <h3>Automation</h3>
            <p>Automating business processes for big time and money savings.</p>
        </div>
    </div>
</div>
<div class="row fma-orange-background mb-5 pb-3">      
    <section class="container pl-2 pr-2 pt-3 text-center">
        <h2 class="white-textcolour">Mailing List Registration</h2>
        <p>Sign up for blog and project updates.</p>
        <form class="form-signin">
            <div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email Address" class="form-control mb-3" />
                    <input type="submit" value="SIGN UP" class="btn btn-outline-dark btn-block mb-3" />
                </div>
            </div>
        </form>
    </section>
</div>   

<div class="container mb-5">    
    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="white-background rounded ml-1 mr-1">
                <img src="~/SiteAssets/images/pic02.jpg" class="img-fluid rounded-top mb-4" alt="" />
                <section class="pl-2 pr-2 text-justified">
                    <h3>Project Showcase</h3>
                    <p>FMASolutions Latest project details: Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <a href="#">Go to projcet details!</a>
                </section>        
            </div>
        </div>
        <div class="col-sm-6 mb-3">         
            <div class="white-background rounded mr-1 ml-1">
                <img src="~/SiteAssets/images/pic03.jpg" class="img-fluid rounded-top mb-4" alt="" />
                <section class="pl-2 pr-2 text-justified">
                    <h3>Blog Post Showcase</h3>
                    <p>Deep dive into web security. Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>                    
                    <a href="#">Go to blog post!</a>                    
                </section>
            </div>               
        </div>    
    </div>
</div>

