@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.GenericSearchViewModel
@{
    ViewData["Title"] = "City Area - Search Page";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}

<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>City Area Search:</h3>            
                </div>        
            </div>
        </div>
        @if (Model != null && Model.StatusMessage != null)
        {
            <Label class="error-text">@Model.StatusMessage </Label>
        }

        <div class="row">
            <div class="col-sm-6">
                <div class="text-left">                      
                    City Area ID: @Html.TextBoxFor(model => model.ID, new { placeholder = "City Area ID", Class="form-control mb-2"})                    
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-left">                      
                    City Area Code: @Html.TextBoxFor(model => model.Code, new { placeholder = "City Area Code", Class="form-control mb-2"})                    
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3"><button type="submit" formaction=@Url.Action("ProcessSearch") formmethod="POST" class="btn btn-outline-dark btn-block mb-3">Search</button></div>
            <div class="col-sm-3"><button type="submit" formaction=@Url.Action("DisplayAll") formmethod="GET" class="btn btn-outline-dark btn-block mb-3">View All</button></div>
            <div class="col-sm-3"><button type="submit" formaction=@Url.Action("Create") formmethod="GET" class="btn btn-outline-dark btn-block mb-3">Create</button></div>
            <div class="col-sm-3"><a href="/AdminPanel" class="btn btn-outline-dark btn-block mb-3">Back</a></div>
        </div>        
    </form>
</div>