@{
    ViewData["Title"] = "Admin Panel - Index";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}
<div class="container rounded">
    <div class="col-sm-12"><a href="/ProductGroup" class="btn btn-outline-dark btn-block mb-3">Manage Product Groups</a><br></div>
    <div class="col-sm-12"><a href="/SubGroup" class="btn btn-outline-dark btn-block mb-3">Manage Sub Groups</a><br></div>
    <div class="col-sm-12"><a href="/Item" class="btn btn-outline-dark btn-block mb-3">Manage Items</a><br></div>
    <div class="col-sm-12"><a href="/CustomerType" class="btn btn-outline-dark btn-block mb-3">Manage Customer Types</a><br></div>
</div>