@using FMASolutionsCore.Web.ShopBro
@model FMASolutionsCore.Web.ShopBro.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "ShopBro - Login";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}


<div class="container rounded">
   @Model.AuthMessage
</div>
