@{
    ViewData["Title"] = "Shop Bro - Index";
    Layout = "~/Views/Shared/_LayoutShopBro.cshtml";
}
<div class="container rounded">
    <div class="col-sm-12"><a href="/Order/Search/" class="btn btn-outline-dark btn-block mb-3">Order Processing</a><br></div>
</div>